.mobile{
    width: 100vw;
    height: 90vh;
    margin: 0px;
    display: flex;
    flex-direction: row;
    background-color: rgb(239,234,252);
    color: black;
}

.vid{
    width: 300px;
    height: 500px;  
    padding: 80px 170px 0px 0px;             ;
}

.text{
    width: 70vw;
    padding: 120px 0px 0px 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.text h1{
    font-size: 70px;
    margin: 0px;
    
}

.text p{
    font-size: 20px;
}

.btn{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.btn1{
    border: 1px solid ;
    background-color: white;
    color: gold;
    font-size: 15px;
    font-weight: 600;
}

.btn2{
    font-size: 15px;
    font-weight: 600;
}